@import "tailwindcss";
@import 'primeicons/primeicons.css';
@plugin 'tailwind-scrollbar';


body {
  display: flex;
  place-items: center;
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: inherit;
}

a:hover {
  color: var(--link-hover);
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #213547;
    --bg-color: #ffffff;
    --button-bg: #f9f9f9;
    --link-hover: #747bff;
  }
}